<!DOCTYPE HTML>
<html>
<head>
	<title>UI5</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="css/main.css" />
</head>


<body id="top">
	<!-- Check back here often, there may be some secrets hidden ;) -->
	<section id="banner" >
		<div class="inner">
			<header>
				<h1>UI5</h1> 
				<p>November 19, 2017</br> The next chapter begins...</p>
				<p> </p>
			</header>
		</div>
	</section>


	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.scrolly.min.js"></script>
	<script src="js/jquery.poptrox.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>

	<script type="text/javascript">
		console.log ("testing this");
		var images = ['background.jpg', 'background1.jpg', 'background2.jpg', 'background3.jpg'];
		$('#banner').css({'background-image': 'url(img/' + images[Math.floor(Math.random() * images.length)] + ')'});
	</script>

</body>
</html>